* { box-sizing: border-box; }
body { margin: 0; overflow-x: hidden; }
img { display: block; max-width: 100%; }


/*NAVBAR*/

html {
    background-color: black;
}

.navbar {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.navlogo {
    display:flex;
    margin-left:25px;
}

.logo {
    display:flex;
    width:200px;
    height:auto;    
}

.navheading {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:50px;
    
}



.navbar-headings {
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    padding:20px;

    
}

.navbar-headings:hover {
    opacity:70%;
    border-bottom: 2.5px solid white;
}

.navbar-book {
    color:black;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style:normal ;
    text-transform:uppercase;
    display:inline-block;
    padding: 14px 26px;
    border:solid 2px white;
    background-color: white;
    margin-left:30px;

}

.navbar-book:hover {
    opacity:70%
}


/*NAVBAR DROPDOWN */
.navdropdown { 
  position: relative; 
}

/* hide by default */
.navdropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;

  display: none;           /* hidden initially */
  flex-direction: column;

  min-width: 150px;
  background: black;
  padding: 10px;
  z-index: 1000;
}

/* links inside menu */
.navdropdown__menu a {
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 200;
}

.navdropdown__menu a:hover {
  opacity: 0.7;
}

/* when dropdown is open */
.navdropdown.is-open .navdropdown__menu {
  display: flex;
}

/* make the button look like your nav links (remove default button styles) */
.navdropdown__btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.navdropdown__menu { display: none; }

.navdropdown:hover .navdropdown__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navdropdown:focus-within .navdropdown__menu {
  display: flex;
}

.navdropdown__btn {
  all: unset;        /* removes default button styles */
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
}

.navdropdown_text {
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    padding:20px;
}


/* MID SECTION */ 

.midsection {
    display:flex;
    flex-direction: row;
    height:80vh;
    width:auto;
    
    
}

.midleft {
    display:flex;
    background-color:black;
    flex:1;
  
}

.midleft img{
    height:100%;
 
   
    
}

.midimg {
    height:100%

}

.mid-image {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
    
.midright {
    display: flex;
    flex-direction: column;
    flex:1;
    flex-wrap: nowrap;
    

}

.midsectiontext {
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal;
    font-size:50px;
    text-align: center;
}

.midsectiontext h3{
    text-transform:uppercase;
    font-weight: 300;
}


.midbook {
    align-self:center;
    margin-top: 20px;
}

.mid-booknow {
    color:black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style:normal ;
    text-transform:uppercase;
    font-size:30px;
    text-decoration: none;
    display:inline-block;
    padding: 14px 26px;
    border:solid 2px white;
    background-color: white;

}

.mid-booknow:hover {
    opacity:70%
}


/*UNDER MID MSG*/

.undermid {
    display:flex;
    justify-content: center;
    border-top: solid 2.5px white;
    border-bottom: solid 2.5px white;
    

}

.undermid-msg {
    display: flex;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal;
    font-size:50px;
    text-align: center;
    
}

/*GALLERY*/


.gallery-grid {
    display:grid; 
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    padding: 60px 40px;
    width:90%;
    margin: 0 auto;
    
}


.gallerypics {
    width:100%
}

.gallery-item {
    display:flex;
    flex-direction: column;
    gap:15px;
    
}

.gallery-headings {
    text-decoration: none;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style:normal ;
    text-transform:uppercase;
    font-size:20px;
    text-decoration: none;
    padding: 14px 26px;
    border:solid 2px white;
    background-color: white;
    text-align: center;
    align-self:center;
}

.gallery-item:hover{
    opacity:70%
}

/*INFOBAR*/

.infocontainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top:1px solid white;
}

.infoblock{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style:normal ;
    text-transform:uppercase;
    font-size:2em
}

.infoblock a{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style:normal ;
    text-transform:uppercase
}

.infoblock a:hover{
    opacity:70%
}

/* MOBILE NAVBAR SECTION */
.openburger {
    display:none;

}

.mobileNav {
    display:none;

    
}

.mobileNav.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobileNav .mobileMainNav{
    display: none;
    width: 100%;
    text-align: center;
}

.mobileNav .mobileSubNav {
    display: none;
    width: 100%;
    text-align: center;
}




.mobileNav .is-active {
    display:block;
    animation: panelIn 0.25s ease both;
}


.mobileNav ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

.mainNavButton {
    background: none;
    border:none;
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    font-size:50px;
    padding:16px 24px;
    letter-spacing:0.02em;
}

#mobileNavHomeButton {
    color:white;
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    font-size:50px;
    padding:16px 24px;
    margin:0px;
    letter-spacing:0.02em;
}

#mobileNavBookButton {
    display:flex;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style:normal ;
    text-transform:uppercase;
    font-size:45px;
    display:inline-block;
    padding: 28px 48px;
    border:solid 2px white;
    background-color: white;
    text-decoration: none;
    margin-top: 15px;


}

#mobileNavBookButton:hover {
    opacity:0.7


}
.backButton {
    background:none;
    border:none;
    font-size:2rem;
    color:rgb(150, 149, 149);
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    padding:16px 24px;

}

.mobileNav .mobileSubNav a{
    color:white;
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    font-size:50px;
    padding:16px 24px;
    margin:0px;

    letter-spacing:0.02em;

}

.closeburger {
    position:absolute;
    top:16px;
    right:16px;
    font-size: 50px;
    color:white;
    display: block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal ;
    text-transform:uppercase;
    background: none;
    border:none;
    cursor: pointer;
}




@media (max-width:820px) {

    .mobileNav {
        display:flex;
        position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: black;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.25s ease;
    display:flex; 
    justify-content: center;
    align-items: flex-start;
    padding-top: 14vh;
    


    }

    .navheading {
        display: none;
    }

    .openburger {
        display:inline-block;
        position:absolute;
        top:16px;
        right:16px;
        font-size: 50px;
        color:white;
        display: block;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:100;
        font-style:normal ;
        text-transform:uppercase;
        background: none;
        border:none;
        cursor: pointer;
    }


    .midsection{
        display:flex;
        flex-direction: column;
        height:auto;
        
    }

  

    .midleft {
        width:100%;
        height:55vh;
        
    }
    
    
    .midimg{
    width: 100%;
    height: 100%;
    }


    .midleft img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: center;
        display:block;

    }

    .midsectiontext h3{
        font-size: 0.8em;
    }

    .midsectiontext p{
        font-size: 0.8em;
    }

    .midbook {
        margin-bottom: 20px;



    }

    .gallery-grid {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 24px 16px;
    gap: 20px;
}

.gallerypics {
  aspect-ratio: 4 / 5;
  object-fit: cover;
  display: block;
}
.gallery-headings {
  width: 100%;
  max-width: 100px;
  padding: 12px 18px;
  font-size: 16px;
}
.infocontainer {
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  align-items: center;
  text-align: center;
}

.infoblock {
    font-size: 18px;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

    
} /*THIS IS THE CLOISNG ONE FOR MEDIA */ 


/*ANIMATION STUFF*/
/* scroll reveal base state */
.reveal {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.6s ease, transform 0.8s ease;
}

/* when revealed */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* accessibility: if user prefers reduced motion, don't animate */
@media (prefers-reduced-motion: reduce) {
  .reveal {
    transition: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes panelIn {
  from { opacity: 0; transform: translateY(14px); }
  to   { opacity: 1; transform: translateY(0); }
}


